.theme-switch {
  display: inline-block;
  height: 32px;
  position: relative;
  width: 48px;
}
.theme-switch input {
  display:none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
input:checked + .slider{
background-color:#222222;
}
input:checked + .slider:before{
  transform:translateX(16px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before{
border-radius:50%;
}





.switch {
  width: 100px;
  height: 50px;
  background-color:blue;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}
.handle {
  width: 20px;
  height: 20px;
  background-color: #4A55A2;
  border-radius: 40px;
}
#ItemOFTheImage{
  height:100%
}